<div class="fields">
  <%= render "shared/error_messages", object: f.object %>
  <%= f.label :content, t("answer_content") %>
  <%= f.text_field :content, class: "form-control" %>
  <%= f.label :is_correct %>
  <%= f.check_box :is_correct %>
  <%= link_to_remove_fields "remove", f %>
</div>
