<li>
  <%= t "content" %>: <%= link_to @word.content, admin_category_word_path(@word.category, @word) %>
  <%= link_to t("edit"), edit_admin_category_word_path(@word.category, @word) %> |
  <%= link_to t("delete"), admin_category_word_path(@word.category, @word), method: :delete,
    data: {confirm: t("areyousure")} %>
  <p><%= image_tag @word.image, size: Settings.size_image_of_word if @word.image? %></p>
  <% if @word.sound? %>
    <%= audio_tag @word.sound, class: "audio-play" %>
    <p class="btn btn-primary audioButton"><%= t "play" %></p>
  <% end %>
  <% if @word.answers.any? %>
    <% @word.answers.each do |answer| %>
      <p><%= answer.content %></p>
    <% end %>
  <% end %>
</li>
