<% provide :title, t("signup.name") %>
<h1><%= t "signup.name" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user, html: {multipart: true} do |f| %>
      <%= render "shared/error_messages", @user %>
      <%= f.label :email%>
      <%= f.text_field :email, class: "form-control" %>
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>
      <%= f.label :password_confirmation, t("password_confirmation") %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
      <%= f.label :avatar %>
      <span class="picture">
        <%= f.file_field :avatar %>
      </span>
      <%= f.submit t("signup.createaccount"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
