<h1><%= t "lesson.result" %></h1>
<%= t "lesson.userlearn" %>: <%= link_to @lesson.user.name, @lesson.user %>
<table class="table table-bordered">
  <thead>
    <tr class="success">
      <th>Word</th>
      <th><%= t "answer.youranswer" %></th>
      <th><%= t "Result" %></th>
    </tr>
  </thead>
  <tbody>
    <% @lesson.lesson_words.each do |ls| %>
      <tr>
        <td>
          <%= ls.word.content %>
        </td>
        <% if ls.answer.nil? %>
          <td>
            <%= t "answer.requireselect" %>
          </td>
          <td>
          </td>
        <% else %>
          <td>
            <%= ls.answer.content %>
          </td>
          <td>
            <%= ls.answer.is_correct ? t("answer.true") :
            t("answer.false") %>
          </td>
        <% end %>
      </tr>
    <% end %>
   </tbody>
</table>
