<div class="list-group">
  <div class="list-group-item list-group-item-success">
    <h3 class="list-group-item-heading">
      <%= link_to category.name, category %>
    </h3>
    <p class="list-group-item-text">
      <%= category.description.truncate Settings.number_description_truncate %>
    </p>
    <p class="list-group-item-text">
      <%= category.description.truncate 50 %>
      <% if signed_in? %>
        <%= form_for Lesson.new do |f| %>
          <%= f.hidden_field :category_id, value: category.id %>
          <%= f.submit t "start" %>
        <% end %>
      <% end %>
    </p>
  </div>
</div>
