<div>
  <h3>
    <%= link_to category.name, admin_category_path(category) %>
  </h3>
  <h5><%= category.words.count %> <%= t("word.words") %></h5>
  <h5>
    <%= category.description.truncate Settings.number_description_truncate %>
  </h5>
  <% if signed_in? %>
    <%= form_for Lesson.new do |f| %>
      <%= f.hidden_field :category_id, value: category.id %>
      <%= f.submit t "start", class: "btn btn-primary" %>
    <% end %>
  <% end %>
</div>
